In [1]:
import json
import mysql.connector

# Load JSON data from file
with open('station_list.json') as f:
    data = json.load(f)

# Connect to MySQL
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="duke19990",
    database="station"
)
cursor = connection.cursor()

# Create table based on JSON structure
table_creation_query = """
    CREATE TABLE IF NOT EXISTS station_list (
        id INT AUTO_INCREMENT PRIMARY KEY,
        station VARCHAR(50),
        station_code VARCHAR(50),
        state VARCHAR(50),
        railway_zone VARCHAR(50)
    )
"""
cursor.execute(table_creation_query)

# Insert data into the table
for item in data:
    insert_query = """
        INSERT INTO station_list (station, station_code,state,railway_zone)
        VALUES (%s, %s, %s, %s)
    """
    cursor.execute(insert_query, (item['station'], item['station_code'], item['state'], item['railway_zone']))

# Commit changes and close connection
connection.commit()
connection.close()

In [1]:
import json
import mysql.connector

# Load JSON data from file
with open('trains.json') as f:
    data = json.load(f)

In [3]:
import pandas as pd
df = pd.DataFrame(data)

In [5]:
df["Train No"]

0        {'': ''00851''}
1        {'': ''00851''}
2        {'': ''00851''}
3        {'': ''00851''}
4        {'': ''00851''}
              ...
69001    {'': ''84369''}
69002    {'': ''84369''}
69003    {'': ''84369''}
69004    {'': ''84369''}
69005    {'': ''84369''}
Name: Train No, Length: 69006, dtype: object

In [7]:
import pandas as pd
import re

# Assuming df is your DataFrame and 'Train No' is the column name
# Replace 'Train No' with your actual column name if it's different

# Convert dictionaries to strings
df['Train No'] = df['Train No'].apply(lambda x: x.get(''))

# Apply regular expression to extract only numbers
df['Train No'] = df['Train No'].apply(lambda x: re.sub(r'\D', '', str(x)))

In [10]:
df.head()

,Train No,train Name,islno,station Code,Station Name,Arrival time,Departure time,Distance,Source Station Code,source Station Name,Destination station Code,Destination Station Name
0,00851,BNC SUVIDHA SPL,1,BBS,BHUBANESWAR,'00:00:00','22:50:00',0,BBS,BHUBANESWAR,BNC,BANGALORE CANT
1,00851,BNC SUVIDHA SPL,2,BAM,BRAHMAPUR,'01:10:00','01:12:00',166,BBS,BHUBANESWAR,BNC,BANGALORE CANT
2,00851,BNC SUVIDHA SPL,3,VSKP,VISAKHAPATNAM,'05:10:00','05:30:00',443,BBS,BHUBANESWAR,BNC,BANGALORE CANT
3,00851,BNC SUVIDHA SPL,4,BZA,VIJAYAWADA JN,'11:10:00','11:20:00',793,BBS,BHUBANESWAR,BNC,BANGALORE CANT
4,00851,BNC SUVIDHA SPL,5,RU,RENIGUNTA JN,'16:42:00','16:52:00',1169,BBS,BHUBANESWAR,BNC,BANGALORE CANT